* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.container {
    width: 960px;
    margin: 0 auto;
}

html {
    font-size: 18px;
    font-family: "Helvetica";
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: white;
}

/** Header **/

.mobile-nav {
    display: none;
}

.navbox {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: cadetblue;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo img{
    height: 1.5rem;
    padding: 1rem 1rem 1rem 2rem;  
}

.logo span {
    font-size: 1rem;
    color: white;
} 

nav {
    display: flex;
}

nav span {
    display: inline-block;
    padding-right: 2rem;

}

header {
    width: 100%;
    height: 30rem;
    padding-top: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/glasses-bg.png);
}

.flex {
    display: flex;
}

header .flex {
    justify-content: flex-end;
}

.look {
    display: inline-block; 
    margin-right: -2rem;
    margin-top: 10rem;
    padding: 2.5rem 5rem;
    background-color: white;
}

/** Service Content **/

.support {
    display: flex;
    justify-content: center;
}

.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    width: 5rem;
    margin: 3rem;
    padding: 3rem 0;
    text-align: center;
    flex-direction: column;    
}

.paper-icon {
    width: 3.5rem;
}

.ruler-icon, .truck-icon {
    width: 5rem;
}

/** Info Content **/

.info {
    width: 35%;
    margin-right: 5%;
    margin-bottom: 4rem;
}

.title {
    width: 10rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.25rem; 
    background-color: cadetblue;    
}

/** Footer **/

footer {
    margin-top: 5rem;
    padding: 4rem 4rem;
    background-color: azure;
}

span.foot {
    color: black;
}

/** Type Styles **/

p {
   padding-top: 1rem;
   line-height: 1.5;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2rem;
}

h5 {
    line-height: 1.2rem;
}

@media only screen and (max-width: 1024px) {
    .container {
       width: 100%; 
    }
    
    header {
        height: 22rem;
        padding-top: 0rem;
    }
    
    .look {
        margin-top: 5rem;
        margin-right: 2rem;
        padding: 1.75rem 4rem;
    }
    
    h1 {
        font-size: 1.33rem;
    }
}

@media only screen and (max-width: 630px) {
    header {
        height: 17rem;
        background-position: 20%;
    }
    
    .logo span {
        display: none;
    }
    
    .mobile-nav {
        display: block;
        text-align: center;
    }
    
    nav span {
        display: none;
    }
    
    .look {
        width: 100%;
        margin-top: 9rem;
        margin-right: 0rem;
        padding: 1rem 0;
        text-align: center;
    }
    
    .support {
        flex-direction: column;
        align-items: center;
        margin: 3.77rem 0;
    }
    
    .service {
        margin: 0rem;
        height: 7rem;
        padding: 0 0 1.8rem 0;
    }
    
    .ruler, .truck {
        height: 5.4rem;
    }
    
    .info {
        width: 100%;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
    }
    
    p {
        padding: 1rem;
        font-size: 0.77rem;
    }
    
    .title {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
    }
    
    h5 {
        margin-top: 1rem;
        font-size: 0.77rem;
    }

    
    footer .logo img {
        margin: 0 auto;
    }
    
    footer {
        margin-top: 0;
    }
    
}